#about{
    background-color: rgb(48, 46, 46);
    color: whitesmoke;
    text-align: center;
}

.row{

}
   
@media(max-width:500px){
    #input{
        width: 100%;
        text-align: center;
    }
    .face{
        width: 100%;
        text-align: center;
    }
    
    .input{
        width: 40%;
        text-align: center;
    }
}
